{# Action template depending rights #}

<ul class="nav">
   <li>
   </li>
   <li>
   </li>
   <li>
   </li>
   <li>
   </li>
   <li>
   <a href="#"></a>
   </li>
   <li>
   <a href="#"></a>
   </li>
   <li>
      {% if rights is defined %}
        <a href="/edit{% if short_ns is defined %}/{{ short_ns }}/{% if document is defined %}{{ document.id }}{% endif %}{% endif %}">Editer</a>
      {% endif %}
   </li>
</ul>
