{# base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        {% block header %}
        <meta charset="utf-8"/>
        <title>Diagonal</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!-- Change them or set them up as you like -->
        <meta name="description" content=""/>
        <meta name="author" content="(Soft10) Pol C&#xE1;mara"/>
        <!-- Stylesheets -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic" rel="stylesheet" type="text/css"/>
        <link href="/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="/css/diagonal.css" rel="stylesheet"/>
        <link href="js/google-code-prettify/prettify.css" rel="stylesheet">
        <link href="/css/shdiagonal.css" rel="stylesheet"/>
        {% endblock %}
    </head>
    <body bgcolor="#E6E6FA">
        <header id="page-head">
          <div id="topbar" class="container">
            <div class="row">
              <div class="span2">
                <h1 id="logo">
                  <a href="/" title="Diagonal">Diagonal</a>
                </h1>
              </div>
              <div class="span9">
                <!-- Top navigation and social icons-->
                <div id="side-header">
                {% block nav %}
                  <nav>
                    <ul>
                      <li>
                        <a title="Namespaces" href="/list">Namespaces</a>
                      </li>
                      <li>
                        <a title="Documents" href="/doc">Documents</a>
                      </li>
                      <li>
                        <a title="Diags" href="/diag">Diagnostic</a>
                      </li>
                        <li/>
                        <li/>
                      <li>
                        <a title="Login" href="/logout">Logout</a>
                      </li>
                    </ul>
                  </nav>
                {% endblock %}
                </div>
              </div>
              <div class="span1">
                <h1 id="diagonal">
                  <a href="https://bitbucket.org/crownedgrouse/diagonal-php" title="Diagonal" target="_new">Diagonal</a>
                </h1>
              </div>
            </div>
          </div>
        {% block actions %}
        {% endblock %}
        </header>
        <br/>
        <br/>
        {% block content %}
        <p></p>
        <p></p>
        {% endblock %}

        {% block footer %}
        <p></p>
        <p></p><!--
        <footer>
          <div class="container">
            <div class="row">
              <div class="span6">
                <p valign="center">
                      <a href="https://github.com/crownedgrouse/diagonal-php" title="Github repository">
                      <img src="/img/ico_github.png" alt="Github"/> Contribute to this project</a>
                </p>
              </div>
              <div class="span6 credits">
                <p>Copyright &#xA9; Crownedgrouse 2015</p>
              </div>
            </div>
          </div>
        </footer>-->
        {% endblock %}
    </body>
</html>
