

<tr><th align="left">{{ question.text }}</th></tr>
<tr><td align="left">
    {% for option in question.options %}
        {% for key, val in option %}
            <input type="radio" name="{{ qid }}" value="{{ key }}">&nbsp;{{ key }}<br>
            {% else %}
            
        {% endfor %}
    {% endfor %}
</td></tr>
