{# doc.html.twig #}
{% extends 'base.html.twig' %}

{% block actions %}
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <div class="nav-collapse">
              <em class="brand">Diagnostic &gt; <a href="/diag/{{ namespace }}">{{ namespace }}</a> &gt; <a href="/diag/{{ namespace }}/{{ document }}">{{ document }}</a> &gt; <a href="/diag/{{ namespace }}/{{ document }}/{{ qid|url_encode }}">{{ qid }}</a> &gt; {% if diag is defined and diag != NULL %}{{ diag }}{% else %}-{% endif %}</em>
              {% include 'actions.html.twig' %}
            </div>
          </div>
        </div>
      </div>
{% endblock %}

{% block content %}

<form action="#" method="post">
    <div align="center">
        <table width="50%">
            {% if content is defined %}
            <tr>
                <td align="left">
                 {{ content|raw  }}
                </td>
            </tr>
            {% endif %}
            {% if diaglist is defined %}
            {% for c in diaglist %}
               <tr>
                  <td align="left">
                  {{ c|raw  }}
                  </td>
               </tr>
            {% endfor %}
            {% endif %}
        </table>
    </div>
</form>
{% endblock %}
