{# doc.html.twig #}
{% extends 'base.html.twig' %}

{% block actions %}
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <div class="nav-collapse">
              <em class="brand">Diagnostic &gt; <a href="/diag/{{ namespace }}">{{ namespace }}</a> &gt; <a href="/diag/{{ namespace }}/{{ document }}">{{ document }}</a> &gt; {{ qid }}</em>
              {% include 'actions.html.twig' %}
            </div>
          </div>
        </div>
      </div>
{% endblock %}

{% block content %}

<form action="#" method="post">
    <div align="center">
        <table width="50%">
        <caption align="left"><b>Question</b>&nbsp;:&nbsp;</caption>
        {% include 'diag.question.html.twig' %}
        <tr><td align="center"><input type="submit"/></td></tr>
        </table>
    </div>
</form>
{% endblock %}


