{# doc.html.twig #}
{% extends 'base.html.twig' %}

{% block actions %}
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <div class="nav-collapse">
              <em class="brand">Documents &gt; List</em>
              {% include 'actions.html.twig' %}
            </div>
          </div>
        </div>
      </div>
{% endblock %}

{% block content %}
   <form action="#" method="post">
    <div align="center">
      {% for key, docs in documents %}
        <table width="40%">
        <caption align="left">{{ key }}</caption>
        <tr><td>
        <ul>
            {% for hash, doc in docs %}
                <li><a href="/diag/{{ doc.nskey }}/{{ doc.id }}">{{ doc.title|e }}</a></li>
            {% else %}
                <li><em>no document found in namespace</em></li>
            {% endfor %}
        </ul>
        </td></tr>
        </table>
      {% else %}
        <ul><li><em>no document found</em></li></ul>
      {% endfor %}
    </div>
   </form>
{% endblock %}


