{# doc.html.twig #}
{% extends 'base.html.twig' %}

{% block actions %}
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <div class="nav-collapse">
              <em class="brand">New document &gt; <a href="/diag/{{ namespace }}">{{ namespace }}</a> &gt; <a href="/edit/{{ namespace }}/{{ document }}/0">{{ document }}</></em>
              {% include 'actions.html.twig' %}
            </div>
          </div>
        </div>
      </div>
{% endblock %}

{% block content %}

 <form action="#" method="post">
   <div class="container">
      <div class="row">
            <div class="span12" align="center">
               <input type="submit"/>
            </div>
      </div>
      <div class="row">
            <div class="span12" align="center">
               <p class="error">{% if error is defined %}{{ error }}{% endif %}</p>
            </div>
      </div>
      <div class="row">
            <div class="span6" align="left">
               <p>{% if highlight is defined %}{{ highlight|raw }}{% endif %}</p>
            </div>
            <div class="span6" align="left">
               <p>{% if linter is defined %}{{ linter }}{% else %}{% endif %}</p>
                  <textarea name="draft" rows="50" class="input-xxlarge">{% if draft  is defined %}{{ draft }}{% endif %}</textarea>
            </div>
      </div>
   </div>
</form>
{% endblock %}
