{# index.html.twig #}
{% extends 'base.html.twig' %}

{% block nav %}
  <nav>
    <ul>
      <li>
      </li>
      <li>
      </li>
      <li>
      </li>
      <li/>
      <li/>
      <li>
        <a title="Login" href="/login">Login</a>
      </li>

    </ul>
  </nav>
{% endblock %}

{% block actions %}
{% endblock %}

{% block content %}
   <form action="#" method="post">
    <div align="center">
    <table width="30%">
        <tr><td>
        {{ form_widget(form) }}
        </td></tr>        
        <tr><td>
        <input type="submit" name="submit" />
        </td></tr>
        </form>
    </table>
    </div>
  </form>

{% endblock %}

