{# page.html.twig #}
{% extends 'base.html.twig' %}

{% block actions %}
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <div class="nav-collapse">
              <em class="brand">Namespace &gt; List</em>
              {% include 'actions.html.twig' %}
            </div>
          </div>
        </div>
      </div>
{% endblock %}

{% block content %}
   <form action="#" method="post">
    <div align="center">
    <table width="30%">
        <tr><td>
        <ul>
            {% for key, ns in namespaces %}
                <li><a href="/list/{{ key }}">{{ ns|e }}</a></li>
            {% else %}
                <li><em>no namespace found</em></li>
            {% endfor %}
        </ul>
    </td></tr></table>
{% endblock %}


