{# page.html.twig #}
{% extends 'base.html.twig' %}

{% block actions %}
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <div class="nav-collapse">
              <em class="brand"></em>
              {% include 'actions.html.twig' %}
            </div>
          </div>
        </div>
      </div>
{% endblock %}

{% block content %}

    <section class="row" id="content">
    <div class="container">
            <form action="#" method="post">
            {{ form_widget(form) }}

            <input type="submit" name="submit" />
            </form>
    </div>
    </section>
{% endblock %}

{% block footer %}
    <footer>
      <div class="container">
        <div class="row">
          <div class="span6">
            <p valign="center">
                  <a href="https://github.com/crownedgrouse/diagonal-php" title="Github repository"><img src="/img/ico_github.png" alt="Github"/> Contribute to this project</a>
            </p>
          </div>
          <div class="span6 credits">
            <p>Copyright &#xA9; Crownedgrouse 2015</p>
          </div>
        </div>
      </div>
    </footer>
{% endblock %}
