{# doc.html.twig #}
{% extends 'base.html.twig' %}

{% block actions %}
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <div class="nav-collapse">
              <em class="brand">Document &gt; Detail</em>
              {% include 'actions.html.twig' %}
            </div>
          </div>
        </div>
      </div>
{% endblock %}

{% block content %}

   <form action="#" method="post">
    <div align="center">
        <table width="40%">
        <caption align="left"><b>Document</b></caption>
      {% for key, val in document %}
        <tr><td>{{ key|replace({'lang': "Lang", 'ns': "Namespace",
                                'id': "Document Id", 'title': "Title",
                                'tags': "Tags", 'type': "Type", 'start': "Start question"}) }}</td>
            <td>{% if key == 'start'  %}<a href="/diag/{{ short_ns }}/{{ document.id }}/{{ document.start|replace({'?': ''}) }}">{{ val }}</a>{% else %}{{ val }}{% endif %}</td></tr>
      {% else %}
        <tr><td><ul><li><em>no information found</em></li></ul></td></tr>
      {% endfor %}
        </table>
        <br/>
        <table width="40%">
        <caption align="left"><b>List of questions</b></caption>
        <tr><td><ul>
      {% for key, val in questions %}
         <li><a href="{{ context }}{{ key }}">{{ val }}</a></li>
      {% else %}
        <li><em>no question found</em></li>
      {% endfor %}
        </ul></td></tr>
        </table>
    </div>
   </form>
{% endblock %}


