{# search.html.twig #}
{% extends 'base.html.twig' %}

{% block actions %}
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <div class="nav-collapse">
              <em class="brand">Diagnostic</em>
              {% include 'actions.html.twig' %}
            </div>
          </div>
        </div>
      </div>
{% endblock %}

{% block content %}
    <div align="center">
        <table width="50%">

        <tr><td>
            <form action="" method="post" {{ form_enctype(form) }}>
                {{ form_widget(form) }}
                <input type="submit"/>
            </form>
        </td></tr>
        {% for item in results %}
            <tr>
               <td>{{ loop.index }} </td><td><a href="/diag/{{ item.link }}">{{ item.title }}</a></td>
            </tr>
         {% else %}
            <tr>
               <td>
                  <b>Please enter keywords...</b>
               </td>
            </tr>
         {% endfor %}
        </table>

{% endblock %}

