<?xml version="1.0"?>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Nine Nines</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Change them or set them up as you like -->
    <meta name="description" content=""/>
    <meta name="author" content="(Soft10) Pol C&#xE1;mara"/>
    <!-- Stylesheets -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic" rel="stylesheet" type="text/css"/>
    <link href="/css/bootstrap.min" rel="stylesheet"/>
    <link href="/css/99s" rel="stylesheet"/>
    <!--    <link href="js/google-code-prettify/prettify.css" rel="stylesheet"> -->
    <link href="/css/sh99s" rel="stylesheet"/>
    <!-- Enables html5 support on older browsers, other js is placed at the end of the page to speed up loading -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="/img/ico/favicon.ico"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/ico/apple-touch-icon-114.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/ico/apple-touch-icon-72.png"/>
    <link rel="apple-touch-icon-precomposed" href="/img/ico/apple-touch-icon-57.png"/>
    <link rel="alternate" href="/feeds/atom.xml" type="application/atom+xml" title="Nine Nines Atom Feed"/>
  </head>
  <body class="home big_text">
    <header id="page-head">
      <div id="topbar" class="container">
        <div class="row">
          <div class="span2">
            <h1 id="logo">
              <a href="/" title="99s">99s</a>
            </h1>
          </div>
          <div class="span10">
            <!-- Top navigation and social icons-->
            <div id="side-header">
              <nav>
                <ul>
                  <li>
                    <a title="Erlang training" href="/training">Training</a>
                  </li>
                  <li>
                    <a title="Technical publications" href="/articles">Articles</a>
                  </li>
                  <li>
                    <a title="Our talks" href="/talks">Talks</a>
                  </li>
                  <li>
                    <a title="Our services" href="/support">Pricing &amp; Sponsoring</a>
                  </li>
                  <li>
                    <a title="Community support" href="http://lists.ninenines.eu">Mailing Lists</a>
                  </li>
                  <li>
                    <a title="Contact us" href="mailto:contact@ninenines.eu">Contact</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <em class="brand">Our products</em>
            <div class="nav-collapse">
              <ul class="nav">
                <li>
                  <a data-slide="0" href="#">Cowboy</a>
                </li>
                <li>
                  <a data-slide="1" href="#">Ranch</a>
                </li>
                <li>
                  <a data-slide="2" href="#">Bullet</a>
                </li>
                <li>
                  <a data-slide="3" href="#">Erlang.mk</a>
                </li>
                <li>
                  <a data-slide="4" href="#">Sheriff</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="row" id="content">
      <article class="span8">
        <a href="http://kato.im">
          <img src="img/sponsors/kato.png" style="display:block;margin:0 0 0 20px"/>
        </a>
        <a href="http://socialpoint.es">
          <img src="img/sponsors/socialpoint.png" style="display:block;margin:20px 0 0 20px"/>
        </a>
        <a href="http://soundrop.fm">
          <img src="img/sponsors/soundrop.png" style="display:block;margin:10px 0 0 20px"/>
        </a>
      </article>
      <article class="span4">
        <a href="http://shiguredo.jp">
          <img src="img/sponsors/shiguredo.png" style="display:block;margin:40px 20px 0 0"/>
        </a>
      </article>
    </section>
    <footer>
      <div class="container">
        <div class="row">
          <div class="span6">
            <p id="scroll-top">
              <a href="#">&#x2191; Scroll to top</a>
            </p>
            <nav>
              <ul>
                <li>
                  <a href="mailto:contact@TODO" title="Contact us">Contact us</a>
                </li>
                <li>
                  <a href="https://github.com/ninenines/ninenines.github.io" title="Github repository">Contribute to this site</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="span6 credits">
            <p>
              <img src="/img/footer_logo.png"/>
            </p>
            <p>Copyright &#xA9; Crownedgrouse 2015</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
