{# doc.html.twig #}
{% extends 'base.html.twig' %}

{% block actions %}
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <div class="nav-collapse">
              <em class="brand">Upload</em>
              {% include 'actions.html.twig' %}
            </div>
          </div>
        </div>
      </div>
{% endblock %}

{% block content %}
    <div align="center">
        <table width="50%">
        <tr><td>
            <b><font color="{{color}}">{{message}}</font></b>
        </td></tr>
        <tr><td>
            <form action="" method="post" {{ form_enctype(form) }}>
                {{ form_widget(form) }}
                <input type="submit"/>
            </form>
        </td></tr>
        </table>

{% endblock %}

